@model IEnumerable<NhaHang_Web.Models.GioHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">GIỎ HÀNG</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-body" href="~/Home/Home">Trang chủ</a></li>
                <li class="breadcrumb-item"><a class="text-body" href="~/Menu/MenuLoaiMonAn">Menu</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page">Giỏ hàng</li>
            </ol>
        </nav>
    </div>
</div>


@if (ViewBag.TB != null)
{
    <h2 class="text-center">@ViewBag.TB</h2>
}
else
{
    var falg = true;
    <div id="tab-1" class="tab-pane fade show p-0 @(falg ? "active" : "")">

        <div class="container-fluid px-3 my-5 clearfix">
            <!-- Shopping cart table -->
            <div class="card">
                <div class="card-header text-center">
                    <h2>GIỎ HÀNG</h2>
                </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered m-0">
                            <thead>
                                <tr>
                                    <!-- Set columns width -->
                                    <th class="text-center py-3 px-0" style="min-width: 5px;">STT</th>
                                    <th class="text-center py-3 px-4" style="min-width: 195px;">Tên món</th>
                                    <th class="text-center py-3 px-2" style="min-width: 100px;">Hình ảnh</th>
                                    <th class="text-right py-3 px-4" style="width: 100px;">Giá</th>
                                    <th class="text-center py-3 px-4" style="width: 120px;">Số lượng</th>
                                    <th class="text-right py-3 px-4" style="width: 150px;">Thành tiền</th>
                                    <th class="text-center align-middle py-3 px-1" style="width: 40px;">Xóa</th>
                                    <th class="text-center align-middle py-3 px-1" style="width: 100px;">Cập nhật</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }

                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td class="text-center font-weight-semibold align-middle px-0">@i</td>
                                        <td class="text-right font-weight-semibold align-middle p-4">@item.Tenmonan</td>
                                        <td class="p-4 text-center align-middle">
                                            <div class="media align-items-center">
                                                <img src="~/ImageMenu/@item.Anhbia" class="d-block ui-w-40 ui-bordered mr-2 align-middle text-center" alt="" style="width: 100px;">
                                            </div>
                                        </td>
                                        @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @maMonAn = item.Mamonan }))
                                        {
                                            <td class="text-right font-weight-semibold align-middle p-4">@String.Format("{0:0,0}", item.Dongia)</td>
                                            <td class="align-middle p-4"><input type="number" class="form-control text-center" value="@item.SoLuong" name="txtSoLuong" min="1"></td>
                                            <td class="text-right font-weight-semibold align-middle p-4">@String.Format("{0:0,0}", item.Thanhtien)</td>
                                            <td class="text-center align-middle px-1"><a href="@Url.Action("XoaGioHang", "GioHang", new { @Mamonan = item.Mamonan })" class="btn btn-sm btn-danger">Xóa</a></td>
                                            <td class="text-center align-middle px-1"><input type="submit" name="name" value="Cập nhật" class="btn btn-sm btn-success" /></td>
                                            <td class="text-center align-middle px-1"><a href="@Url.Action("XoaTatCa", "GioHang", new { @Mamonan = item.Mamonan })" class="btn btn-sm btn-dark">Xóa tất cả</a></td>

                                        }
                                    </tr>
                                    i++;
                                }

                            </tbody>
                            <tr class="table-borderless float-right">
                                <td class="text-right font-weight-semibold align-middle p-4 float-right" colspan="8">
                                    <h5 class="float-right text-right">Tổng tiền: <strong style="color: red;" class="text-right">@String.Format("{0:0,0}", ViewBag.TongThanhTien)</strong> VNĐ</h5>
                                </td>
                            </tr>


                        </table>
                        @*@foreach (var item in Model)
                {

                            <a href="@Url.Action("XoaTatCa", new { @Mamonan = item.Mamonan })" class="btn btn-lg btn-danger float-right mt-3">Xóa tất cả</a>

                }*@
                    </div>
                    <!-- / Shopping cart table -->

                    <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
                        <div class="mt-4">
                            <label class="text-muted font-weight-normal">MÃ GIẢM GIÁ</label>
                            <input type="text" placeholder="Nhập mã giảm giá..." class="form-control">
                        </div>


                        <div class="float-right">
                            <a href="@Url.Action("DatHang", "GioHang")" class="btn btn-lg btn-primary mt-5">Đặt hàng</a>
                            @*<button type="button" class="btn btn-lg btn-primary mt-5">Thanh toán</button>*@
                        </div>


                    </div>

                </div>
            </div>
        </div>


    </div>



}


